<!-- <a href="/" {% if page.url == "/" %}style="color: red;"{% endif %}> Home </a> -->
<!-- <a href="/about.html" {% if page.url == "/about.html" %}style="color: red;"{% endif %}>  About </a> -->

<!-- {% for item in site.data.navigation %} -->
<!--   <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}> -->
<!--     {{ item.name }} -->
<!--   </a> -->
<!-- {% endfor %} -->

<!-- {% for item in site.data.navigation %} -->
<!-- <a href="{{ item.link }}" {% if page.url == item.link %}class="current" {% elsif page.url != item.link %}  {% endif %}>{{ item.name }}</a> -->
<!-- {% endfor %} -->
<nav class="navbar sticky-top navbar-expand navbar-dark bg-none text-dark">
    <span class="navbar-brand mb-0 h1 align-right">
        <img src="assets/images/circle.png" width="30" height="30" alt="">
        <!-- Pratyush Raman -->
    </span>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> -->
    <!-- <span class="navbar-toggler-icon"></span> -->
    <!-- </button> -->
    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> -->
    <div class="navbar-nav">
    <a class="nav-item nav-link" href="index.html">> Home <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="music.html">> Music</a>
    <a class="nav-item nav-link" href="drawings.html">> Drawings</a>
    <a class="nav-item nav-link" href="portfolio.html">> Portfolio</a>
    <a class="nav-item nav-link" href="about.html">> About</a>
    </div>
    <!-- </div> -->
</nav>

