body {
    background-color: black !important;
    // color: #586E75;
    color: #606060 !important;
    position: absolute;
    font-family: 'Julius Sans One', sans-serif !important;
    text-align: center;
    margin: 0px;
    overflow: scroll;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height:100%;
}

.footer {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footer a {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 2rem;
}

.fa {
    padding: 1rem;
    font-size: 2rem !important;
    width: 2rem;
    text-align: center;
    text-decoration: none;
    // border-radius: 25%;
    opacity:0.9;
    // color:#586e75;
    color: #fffafa;

}

.fa:hover {
    opacity: 0.4;
}

.content {
    padding: 1rem 3rem 1rem 3rem;
}

.accordion {
    // background-color: #586E75;
    background-color: none !important;
    color: black;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2rem;
    transition: 0.4s;
    // border-radius: 1rem 1rem 0rem 0rem; 
}

.panelx {
    padding: 0 1rem;
    // max-height: 0;
    overflow: hidden;
    text-align: right;
    transition: max-height 0.2s ease-out;
    font-family: 'IBM Plex Mono', monospace;
}

div.gallery {
    margin: 1rem;
    border: 1px solid #ccc;
    float: left;
    width: 20%;
    // border-radius: 1rem;
    font-family: 'Julius Sans One', sans-serif ;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
    // border-radius:1rem 1rem 0rem 0rem;
}

div.desc {
    padding: 1rem;
    text-align: center;
}

.iframe-container {
    overflow: hidden;
    // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
    padding-top: 56.25%;
    padding-botton: 1rem;
    position: relative;
}

// .iframe-container iframe {
//     border: 0;
//     height: 100%;
//     left: 0;
//     position: absolute;
//     top: 0;
//     width: 100%;
// }

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
    padding-top: 75%;
}

.aboutimg {
    width: 100%;
    // border-radius:1rem;
}

figure {
  display: flex;
  align-items: center;
}

figcaption {
    width:100%;
}

.fronttext {
    padding-top: 10rem; 
    // font-size: 1.5rem;
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: underline;
    z-index:1;
}

.subtext {
    // font-size: 0.8rem;
    font-size: 13px;
    font-family: 'IBM Plex Mono', monospace;
    z-index:1;
}

.about {
    font-family: 'IBM Plex Mono', monospace;
}

.nav-item {
    padding: 2rem !important;
    font-size: 1rem;
}

@media screen and (max-width: 800px) {
    .nav-item{
        padding: 0rem !important;
        font-size: 1.5rem !important;
    }
  .fronttext{
      padding-top: 2rem !important;
    font-size: 3rem !important;
  }
}
