<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro|Changa|IBM+Plex+Mono|Julius+Sans+One|Philosopher|Roboto|Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
  <body>
        {% include navigation.html %}
        <div class="content"> 
            {{ content }}
        </div>
        <script type="text/javascript" src="/assets/js/navigation.js"></script>
        <script type="text/javascript" src="/assets/js/accordion.js"></script>
        <script type="text/javascript" src="/assets/js/gallery.js"></script>
  </body>
</html>

